.svg-bookmark {
	background: url("./svg/sprite.css-6792f803.svg") 84.90566037735849% 51.578947368421055% no-repeat;
}

.svg-bookmark-dims {
	width: 9px;
	height: 10px;
}

.svg-bookmark-active {
	background: url("./svg/sprite.css-6792f803.svg") 99% 20.454545454545453% no-repeat;
}

.svg-bookmark-active-dims {
	width: 15px;
	height: 17px;
}

.svg-contact-email {
	background: url("./svg/sprite.css-6792f803.svg") 57.7319587628866% 67.74193548387096% no-repeat;
}

.svg-contact-email-dims {
	width: 18px;
	height: 12px;
}

.svg-contact-facebook {
	background: url("./svg/sprite.css-6792f803.svg") 44.339622641509436% 73.25581395348837% no-repeat;
}

.svg-contact-facebook-dims {
	width: 9px;
	height: 19px;
}

.svg-contact-phone {
	background: url("./svg/sprite.css-6792f803.svg") 100% 0 no-repeat;
}

.svg-contact-phone-dims {
	width: 16px;
	height: 18px;
}

.svg-contact-vk {
	background: url("./svg/sprite.css-6792f803.svg") 73.6842105263158% 52.68817204301075% no-repeat;
}

.svg-contact-vk-dims {
	width: 20px;
	height: 12px;
}

.svg-map-event {
	background: url("./svg/sprite.css-6792f803.svg") 100% 57.77777777777778% no-repeat;
}

.svg-map-event-dims {
	width: 16px;
	height: 15px;
}

.svg-map-position {
	background: url("./svg/sprite.css-6792f803.svg") 0 44.73684210526316% no-repeat;
}

.svg-map-position-dims {
	width: 21px;
	height: 29px;
}

.svg-menu-feed {
	background: url("./svg/sprite.css-6792f803.svg") 52.63157894736842% 40.963855421686745% no-repeat;
}

.svg-menu-feed-dims {
	width: 20px;
	height: 22px;
}

.svg-menu-feed-active {
	background: url("./svg/sprite.css-6792f803.svg") 28.42105263157895% 75.90361445783132% no-repeat;
}

.svg-menu-feed-active-dims {
	width: 20px;
	height: 22px;
}

.svg-menu-map {
	background: url("./svg/sprite.css-6792f803.svg") 0 0 no-repeat;
}

.svg-menu-map-dims {
	width: 35px;
	height: 34px;
}

.svg-menu-map-active {
	background: url("./svg/sprite.css-6792f803.svg") 43.75% 0 no-repeat;
}

.svg-menu-map-active-dims {
	width: 35px;
	height: 34px;
}

.svg-menu-profile {
	background: url("./svg/sprite.css-6792f803.svg") 79.54545454545455% 29.11392405063291% no-repeat;
}

.svg-menu-profile-dims {
	width: 27px;
	height: 26px;
}

.svg-menu-profile-active {
	background: url("./svg/sprite.css-6792f803.svg") 0 79.74683544303798% no-repeat;
}

.svg-menu-profile-active-dims {
	width: 27px;
	height: 26px;
}

.svg-menu-search {
	background: url("./svg/sprite.css-6792f803.svg") 24.41860465116279% 41.46341463414634% no-repeat;
}

.svg-menu-search-dims {
	width: 29px;
	height: 23px;
}

.svg-menu-search-active {
	background: url("./svg/sprite.css-6792f803.svg") 81.3953488372093% 0 no-repeat;
}

.svg-menu-search-active-dims {
	width: 29px;
	height: 23px;
}

.svg-slider-hottest {
	background: url("./svg/sprite.css-6792f803.svg") 99% 39.77272727272727% no-repeat;
}

.svg-slider-hottest-dims {
	width: 15px;
	height: 17px;
}

.svg-slider-nearest {
	background: url("./svg/sprite.css-6792f803.svg") 95.1923076923077% 74.44444444444444% no-repeat;
}

.svg-slider-nearest-dims {
	width: 11px;
	height: 15px;
}

.svg-slider-tour {
	background: url("./svg/sprite.css-6792f803.svg") 0 100% no-repeat;
}

.svg-slider-tour-dims {
	width: 18px;
	height: 16px;
}

